@import "./vars.scss";

body {
  background-color: $canvas_bg;
  background-image: linear-gradient(
    to bottom,
    $canvas_bg,
    darken($canvas_bg, 10%) 100%
  );
  min-height: 100vh;

  overflow-y: scroll; // the flipping page sometimes makes scroll bars appear...
}
