@import "./vars.scss";

// c h

$s: "";
$br: "\a";
$sp1: "\2004";
$sp2: "\2006";
@each $letter in $alphabet {
  $s: "" !global;
  .first_#{to-lower-case($letter)} .cover:before {
    @for $y from 1 through 41 {
      @for $x from 1 through 28 {
        $s: $s + $letter + " " !global;
      }
      @if $y % 2 == 0 {
        $s: $s + $br + " " !global;
      } @else {
        $s: $s + $br + " " + $letter !global;
      }
    }
    content: "#{$s}";
  }
}
.cover {
  &:before {
    content: $s; // defaults to a bunch of Zs!
  }
}

.cover:before {
  color: #e0abab; // defaults to the pink
}

@for $i from 1 through length($ink-cols) {
  $c: nth($ink-cols, $i);
  .diary.ink_#{$i} {
    --ink-color: #{$c};
    .cover:before {
      color: #{$c};
    }
  }
}

:root {
  --cover-color: #cb0072;
  --divider-line-color: #cb007280;
  --ink-color: #fff;
}

.diary {
  @for $i from 1 through length($cover-cols) {
    $c: nth($cover-cols, $i);
    $c2: nth($line-cols, $i);
    &.cover_#{$i} {
      --cover-color: #{$c};
      --divider-line-color: #{$c2};
    }
  }
}

.diary {
  @media (min-width: $sm-brkpnt) {
    &:before,
    &:after {
      background: $default-cover-color;
      background-color: var(--cover-color) !important;
      background-image: linear-gradient(
        to bottom,
        var(--cover-color),
        var(--cover-color) 25%,
        #000 1000%
      );
    }
    &:before {
      @include diary-shadow(-3px);
    }
    &:after {
      @include diary-shadow(3px);
    }
  }
  @media (max-width: $sm-brkpnt) {
    &:before {
      background: $default-cover-color;
      background-color: var(--cover-color) !important;
      @include diary-shadow;
    }
  }

  &.loading {
    .cover {
      opacity: 0.1;
      cursor: not-allowed;
    }
  }
}

.spiral {
  @media (min-width: $sm-brkpnt) {
    display: none;
  }
  @media (max-width: $sm-brkpnt) {
    position: absolute;

    width: $w;
    left: 0;
    height: 0.08477272727 * $w;
    background-image: url(../img/spiral.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: -0.08477272727 /3 * $w;
    z-index: $max-z + 1;
  }
}

.cover {
  @include diary-shadow;
  transform-origin: left top;

  position: absolute;
  @media (min-width: $sm-brkpnt) {
    top: -$vert-pad * 3/5;

    width: $w + $horiz-pad;
  }
  @media (max-width: $sm-brkpnt) {
    top: 0;

    width: $w + $horiz-pad * 2;
  }

  z-index: $max-z;

  background-color: $default-cover-color;
  background-color: var(--cover-color);
  background-image: linear-gradient(
    to bottom,
    var(--cover-color),
    var(--cover-color) 25%,
    #000 1000%
  );

  cursor: pointer;
  height: $h + $vert-pad * 2;
  @media (min-width: $sm-brkpnt) {
    left: 50%;
    @include diary-shadow(3px);
    @include right-page-radiuses;
    transition: transform $opening-delay linear;
    @at-root .diary:not(.loading) &:hover {
      transform: rotate3d(0, 1, 0, -5deg);
    }
  }

  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    left: -$line * 4.3;
    top: -$line * 0.25;
    height: $h + $line;
    width: $w + $line * 3;
    font-family: "italian_mosaic_ornamentsRg";
    font-size: 28px;
    line-height: 0.8em;
    letter-spacing: 0em;
    word-spacing: 0.28em;
    white-space: pre;
  }
}

.closing.diary .cover,
.closed.diary .cover {
  .about-the-diary,
  &:before {
    transition: opacity $opening-delay * 0.2 linear $opening-delay / 2;
  }
}

.opening.diary .cover,
.open.diary .cover {
  .about-the-diary,
  &:before {
    transition: opacity 0s linear $opening-delay/2;
  }
}

.about-the-diary {
  background: $paper-color;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  // transition: opacity $opening-delay * 0.2 linear $opening-delay * 0.3;
  transform: rotate3d(0, 0, 1, -0.5deg);
  border-radius: 2px;

  padding: $line/2;
  z-index: 2;
  position: absolute;
  right: $line;
  bottom: $line * 2;
  width: 8 * $line;

  p {
    user-select: none;

    @extend .typewriter;
    white-space: pre-line;
    &.who:before {
      content: "Diário da Pandemia \a";
      text-transform: uppercase;
    }
  }

  $b1: 3px;
  $b2: 6px;

  &:after,
  &:before {
    position: absolute;
    content: "";
    border: 1px solid var(--divider-line-color);
  }
  &:after {
    left: $b1;
    right: $b1;
    top: $b1;
    bottom: $b1;
  }
  &:before {
    left: $b2;
    right: $b2;
    top: $b2;
    bottom: $b2;
  }
}
