@import "./vars.scss";

$alphabet: A b C D E f G H i J K L m N O P Q R S t U V W x y Z;

$opening-delay: $flipTime * 3;
// c h

$cover-cols: #ffd21f, #b94400, #c71717, #99004d, #50474b, #212dcf, #230076,
  #06882d, #005a61, #110f1b, #cadfdc;

$line-cols: #ffd21f, #b9440050, #c7171750, #99004d50, #50474b50, #212dcf50,
  #23007650, #06882d50, #005a6150, #110f1b40, #b5c9c6;

$s: "";
.cover {
  &:before {
    content: "c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a c c c c c c c c c c c c c c c c c c c c c c c c c c c c \a cc c c c c c c c c c c c c c c c c c c c c c c c c c c c \a ";
  }
}
@each $letter in $alphabet {
  $s: "" !global;
  $br: "\a";
  $sp1: "\2004";
  $sp2: "\2006";
  .first_#{to-lower-case($letter)} .cover:before {
    @for $y from 1 through 41 {
      @for $x from 1 through 28 {
        $s: $s + $letter + " " !global;
      }
      @if $y % 2 == 0 {
        $s: $s + $br + " " !global;
      } @else {
        $s: $s + $br + " " + $letter !global;
      }
    }
    content: "#{$s}";
  }
}

:root {
  --cover-color: #cb0072;
  --divider-line-color: #cb007280;
}

.diary {
  @for $i from 1 through length($cover-cols) {
    $c: nth($cover-cols, $i);
    $c2: nth($line-cols, $i);
    &.cover_#{$i} {
      --cover-color: #{$c};
      --divider-line-color: #{$c2};
    }
  }
}

.diary {
  @media (min-width: $sm-brkpnt) {
    &:before,
    &:after {
      background: $default-cover-color;
      background-color: var(--cover-color) !important;
      background-image: linear-gradient(
        to bottom,
        var(--cover-color),
        var(--cover-color) 25%,
        #000 1000%
      );
    }
    &:before {
      @include diary-shadow(-3px);
    }
    &:after {
      @include diary-shadow(3px);
    }
  }
  @media (max-width: $sm-brkpnt) {
    &:before {
      background: $default-cover-color;
      background-color: var(--cover-color) !important;
      @include diary-shadow;
    }
  }
}

.spiral {
  @media (min-width: $sm-brkpnt) {
    display: none;
  }
  @media (max-width: $sm-brkpnt) {
    position: absolute;

    width: $w;
    left: 0;
    height: 0.08477272727 * $w;
    background-image: url(../img/spiral.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: -0.08477272727 /3 * $w;
    z-index: $max-z + 1;
  }
}

.cover {
  @include diary-shadow;
  transform-origin: left center;

  position: absolute;
  top: 0;

  z-index: $max-z;

  background-color: $default-cover-color;
  background-color: var(--cover-color);
  background-image: linear-gradient(
    to bottom,
    var(--cover-color),
    var(--cover-color) 25%,
    #000 1000%
  );

  cursor: pointer;

  width: $w + $horiz-pad;
  height: $h + $vert-pad;
  @media (min-width: $sm-brkpnt) {
    left: 50%;
    @include diary-shadow(3px);
    @include right-page-radiuses;
    transition: transform $opening-delay linear;
    &:hover {
      transform: rotate3d(0, 1, 0, -5deg);
    }
  }

  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    left: -$line * 4.3;
    top: -$line * 0.25;
    height: $h + $line;
    width: $w + $line * 3;
    font-family: "italian_mosaic_ornamentsRg";
    font-size: 21px;
    line-height: 0.8em;
    letter-spacing: 0em;
    word-spacing: 0.28em;
    white-space: pre;
  }
}

$ink-cols: #ffffffd7, #fff67bf3, #ff8741, #479654f3, #3f253dcc, #72b1ecf1,
  #f85555d8, #665cf1e1, #ffffffb2, #e0ababd8;

@for $i from 1 through length($ink-cols) {
  $c: nth($ink-cols, $i);
  .diary.f_color_#{$i} {
    color: #{$c};
    .cover:before {
    }
  }
}

.closing.diary .cover,
.closed.diary .cover {
  .about-the-diary,
  &:before {
    transition: opacity $opening-delay * 0.2 linear $opening-delay / 2;
  }
}

.opening.diary .cover,
.open.diary .cover {
  .about-the-diary,
  &:before {
    transition: opacity 0s linear $opening-delay/2;
  }
}

.about-the-diary {
  background: $paper-color;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  // transition: opacity $opening-delay * 0.2 linear $opening-delay * 0.3;
  transform: rotate3d(0, 0, 1, -0.5deg);
  border-radius: 2px;

  padding: $line/2;
  z-index: 2;
  position: absolute;
  right: $line;
  bottom: $line * 2;
  width: 8 * $line;

  p {
    user-select: none;

    @extend .typewriter;
    &.who:before {
      content: "DIÁRIO DA QUARENTENA \a";
    }
  }

  $b1: 3px;
  $b2: 6px;

  &:after,
  &:before {
    position: absolute;
    content: "";
    border: 1px solid var(--divider-line-color);
  }
  &:after {
    left: $b1;
    right: $b1;
    top: $b1;
    bottom: $b1;
  }
  &:before {
    left: $b2;
    right: $b2;
    top: $b2;
    bottom: $b2;
  }
}
