@import "./reset.scss";
@import "./vars.scss";
@import "./common.scss";
@import "./cooper.scss";

body {
  font-family: "Cooper Hewitt", sans-serif;

  display: grid;
  align-items: center;
  justify-content: center;

  padding: 4rem;
}

#diaries-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 960px; // ugly, should not be here
  grid-gap: 4rem;
}

:root {
  --cover-color: #cb0072;
  --ink-color: #fff;
}

.diary-link {
  @for $i from 1 through length($ink-cols) {
    $c: nth($ink-cols, $i);
    &.ink_#{$i} {
      --ink-color: #{$c};
      .diary-decoration:before {
        color: #{$c};
      }
    }
  }

  @for $i from 1 through length($cover-cols) {
    $c: nth($cover-cols, $i);
    &.cover_#{$i} {
      --cover-color: #{$c};
    }
  }
}

.diary-link {
  background: white;
  border-radius: 0.125rem;

  @include diary-shadow(0);

  pointer-events: none;
  transition: box-shadow 4s ease 1s;
  &:hover {
    transition: box-shadow 1s ease;
    box-shadow: 0 10px 30px -7px var(--cover-color);
  }

  header {
    padding: 0.75rem;
    h1 {
      font-size: 18px;
      padding-bottom: 3px;
      font-weight: 500;
    }
    h2 {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .diary-decoration {
    height: 8rem;
    background: #cb0072;
  }

  a {
    margin: 0.75rem;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration-color: rgba(0, 0, 0, 0.33);
    pointer-events: auto;
    &:hover {
      background: lightgray;
    }
  }
}
