@import "./reset.scss";
@import "./vars.scss";
@import "./fonts.css";
@import "./cooper.scss";

$text-col: #505050;

body {
  font-family: "Cooper Hewitt", sans-serif;
  overflow-y: scroll; // the flipping page sometimes makes scroll bars appear...

  @media (min-width: 1200px) {
    display: grid;
    justify-items: center;
  }

  #diaries-list {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 3rem;
    }
    @media (min-width: 1200px) {
      padding: 4rem;
    }
  }
}

body > header {
  @extend .pandemy-diaries-head;
  padding: 1rem 2rem;
  @media (min-width: 992px) {
    padding: 1rem 3rem;
  }
  @media (min-width: 1200px) {
    padding: 1rem 4rem;
  }
  @media (max-width: 400px) {
    #logos img {
      height: 2rem;
    }
  }
  h1 {
    @media (max-width: 400px) {
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 600;
    }
    @media (min-width: 992px) {
      font-size: 2rem;
      font-weight: 500;
      br {
        display: none;
      }
    }
    @media (min-width: 1200px) {
      font-size: 3rem;
      font-weight: 400;
    }
  }
}

body > footer {
  padding: 2rem 2rem 3rem 2rem;
  @media (min-width: 992px) {
    padding: 3rem 3rem 3rem 3rem;
  }
  @media (min-width: 1200px) {
    padding: 3rem 4rem;
  }
  width: 100%;
  display: grid;
  p {
    justify-self: start;
    max-width: 72ch;
    font-size: 0.8rem;
    line-height: 1.2rem;
    &,
    a {
      color: #666;
    }
  }
}

#diaries-list {
  background-color: $canvas_bg;
  background-image: linear-gradient(
    to bottom,
    $canvas_bg,
    darken($canvas_bg, 10%) 100%
  );
  box-sizing: border-box;
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    // max-width: calc(320px * 4 + 4rem * 3);
  }

  &.loading {
    .diary-decoration {
      opacity: 0.25;
      &:after {
        opacity: 0;
      }
    }
  }
}

:root {
  --cover-color: #cb0072;
  --ink-color: #fff;
}

.diary-link {
  @for $i from 1 through length($ink-cols) {
    $c: nth($ink-cols, $i);
    &.ink_#{$i} {
      --ink-color: #{$c};
    }
  }

  @for $i from 1 through length($cover-cols) {
    $c: nth($cover-cols, $i);
    &.cover_#{$i} {
      --cover-color: #{$c};
    }
  }
}

@each $letter in $alphabet {
  $s: "" !global;
  .diary-link.first_#{to-lower-case($letter)} .diary-decoration:after {
    @for $y from 1 through 41 {
      @for $x from 1 through 28 {
        $s: $s + $letter + " " !global;
      }
      @if $y % 2 == 0 {
        $s: $s + $br + " " !global;
      } @else {
        $s: $s + $br + " " + $letter !global;
      }
    }
    content: "#{$s}";
  }
}

.diary-link {
  background: white;
  color: $text-col;
  border-radius: 0.125rem;

  @include diary-shadow(0);
  transform: rotate3d(0, 0.001, 0, 0.01deg);

  pointer-events: none;
  transition: box-shadow 1.5s ease, transform 6s ease;
  &:hover {
    transform: translateY(-2px) scale(1.015);
    box-shadow: 0 10px 30px -7px var(--cover-color);
  }

  header {
    padding: 0.75rem;
    h1 {
      font-size: 18px;
      padding-bottom: 3px;
      font-weight: 500;
    }
    h2 {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .diary-decoration {
    height: 11rem;
    background-color: #cb0072;
    background-color: var(--cover-color);
    transition: opacity 1s ease;
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      left: -2rem;
      top: -2rem;
      right: -1.5rem;
      bottom: -1.5rem;
      color: var(--ink-color);

      $ratio: 0.7;

      font-family: "italian_mosaic_ornamentsRg";
      font-size: 28px;
      line-height: 0.8em;
      letter-spacing: 0em;
      word-spacing: 0.28em;
      white-space: pre;
    }
  }

  footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0.75rem;
    a,
    p {
      font-size: 14px;
      font-weight: 500;
      color: $text-col;
    }
    a {
      justify-self: start;
      display: inline-block;
      text-decoration-color: rgba(0, 0, 0, 0.33);
      padding: 0.0625rem 0.125rem;
      position: relative;
      left: -0.125rem;
      pointer-events: auto;
      &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.125);
      }
    }
    p {
      justify-self: end;
      color: #cb0072;
    }
  }

  a {
  }
}
