@import "./reset.scss";
@import "./fonts.css";

$w: 400px;
$h: 1.57143 * $w;

$flipTime: 250ms;

$marg: $w / 20;

$line: ceil($h / 21);
$fs: $line * 0.777777;

// $lc: $w * 0.1226175;
$lc: $w * 0.1;
// $sc: $w * 0.0322675;
$sc: $w * 0.01;

$max-z: 999;

$default-pencil: dimgray;

$main-line: #d6d3cc;
$top-line: #3d50fa3b;

$sm-brkpnt: $w * 2 + $marg * 2;

$cover-color: #cb0072;

body {
  background-color: #ffd21f;
  min-height: 100vh;

  display: grid;
  place-items: center;

  padding: $marg;
  @media (min-width: $sm-brkpnt) {
    perspective: 50cm;
  }
}

.highlights {
  font-family: "brizelregular", cursive;

  color: #cb0072;

  font-size: $fs * 0.95;
  display: block;
  mix-blend-mode: multiply;
}

.mood-summary {
  @extend .highlights;
  color: $default-pencil;
  text-indent: 0 !important;
  margin-top: $line;
}

p + .highlights {
  margin-top: $line;
}

.header-highlights {
  @extend .highlights;
  user-select: none;
  color: $default-pencil;
}

$vert-pad: 5px;
$horiz-pad: 10px;

.diary-container {
  position: relative;
  @media (min-width: $sm-brkpnt) {
    perspective: 50cm;
  }
  transform: rotate3d(1, 0, 0, 10deg);

  .pages-container {
    position: relative;
    z-index: 5;
    @media (min-width: $sm-brkpnt) {
      width: 2 * $w;
    }
    @media (max-width: $sm-brkpnt) {
      width: $w;
      height: $h;
    }
  }

  @media (min-width: $sm-brkpnt) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: $h + $vert-pad * 2;
    width: 2 * $w + $horiz-pad * 2;

    padding: ($vert-pad * 2/3) ($horiz-pad) ($vert-pad * 4/3);

    &:before,
    &:after {
      content: "";

      position: absolute;
      top: 0;
      z-index: 0;

      height: $h + $vert-pad * 2;
      width: $w + $horiz-pad;

      background: $cover-color;
      box-shadow: 0px 5px 20px #a88d1e;
    }

    $radius-adjust: 1.05;

    &:before {
      left: 0;

      border-top-left-radius: $lc * $radius-adjust;
      border-bottom-left-radius: $lc * $radius-adjust;
      border-top-right-radius: $sc * $radius-adjust;
      border-bottom-right-radius: $sc * $radius-adjust;
    }

    &:after {
      right: 0;

      border-top-left-radius: $sc * $radius-adjust;
      border-bottom-left-radius: $sc * $radius-adjust;
      border-top-right-radius: $lc * $radius-adjust;
      border-bottom-right-radius: $lc * $radius-adjust;
    }
  }

  @media (max-width: $sm-brkpnt) {
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      z-index: 0;

      height: $h + $vert-pad * 2;
      width: $w + $horiz-pad * 2;

      top: -$vert-pad * 2/3;
      left: -$horiz-pad;

      background: $cover-color;
      box-shadow: 0px 5px 10px #a88d1e;
    }
    &:after {
      width: $w;
      left: 0;
      height: 0.08477272727 * $w;
      background-image: url(../img/spiral.svg);
      background-size: contain;
      background-repeat: no-repeat;
      top: -0.08477272727 /3 * $w;
      z-index: 9;
    }
  }
}

.staples {
  @media (max-width: $sm-brkpnt) {
    display: none;
  }
  position: absolute;
  z-index: $max-z;
  left: calc(50% - 1px);
  top: 0;
  bottom: 0;
  li {
    position: absolute;
    height: 3/2 * $line;
    width: 2px;
    mix-blend-mode: multiply;
    background: slategray;
    &:nth-child(1) {
      top: 15%;
    }
    &:nth-child(2) {
      top: calc(50% - 3 / 4 *#{$line});
    }
    &:nth-child(3) {
      bottom: 15%;
    }
  }
}

$offset: 7px;

.page {
  height: $h;
  width: $w;

  overflow-y: hidden;
  background-color: #f1f0eb;

  color: $default-pencil;

  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 2 * $line;
    bottom: 0;

    background-image: repeating-linear-gradient(
      0deg,
      $main-line,
      transparent 1px,
      transparent $line
    );
  }

  font-family: "gunny_rewrittenregular", cursive;
  line-height: $line;
  font-size: $fs;

  &:first-child {
    display: none;
  }

  &.summary {
    font-family: "Courier Prime", monospace;
    font-size: $fs * 0.7;

    p + p {
      text-indent: 0;
      margin-top: $line;
    }

    .text-container {
      position: relative;
      top: 3px;
      mix-blend-mode: multiply;
      color: darken($default-pencil, 10%);
      &:after {
        content: "";
        position: absolute;
        left: $line * 2/3;
        bottom: $line * 1/2;
        width: $line * 3/2;
        height: $line * 3/2;
        background-image: url(../img/stamp-onhb.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  p + p {
    text-indent: $line;
  }

  @media (min-width: $sm-brkpnt) {
    transform-style: preserve-3d;

    box-shadow: 0 0 0 #0000;
    @at-root .current + .page + .page + .page ~ & {
      z-index: 5;
    }

    &:nth-child(odd) {
      transition: transform $flipTime linear 0s, box-shadow $flipTime linear 0s,
        opacity 0s ease 0s;

      position: absolute;
      right: 50%;

      transform-origin: top right;

      border-top-left-radius: $lc;
      border-bottom-left-radius: $lc;
      border-top-right-radius: $sc;
      border-bottom-right-radius: $sc;

      border-right: 1px solid #dddcd7;

      transform: rotate3d(0, 1, 0, 3deg);

      background-image: linear-gradient(
        to right,
        #f1f0eb,
        #f1f0eb 70%,
        #dbdad1 100%
      );

      &:not(.past):not(.current) {
        // future page
        transform: rotate3d(0, 1, 0, 90deg);
        transition: transform $flipTime linear 0s,
          box-shadow $flipTime linear 0s, opacity 0s ease $flipTime;
        opacity: 0;
        z-index: 1000;
      }
      &.current {
        transform: rotate3d(0, 1, 0, 3deg);
        box-shadow: -3px 1px 3px #0003;
        z-index: 100;
        opacity: 1;
      }
      &.past {
        transform: rotate3d(0, 1, 0, 3deg);
        z-index: 10;
        opacity: 1;
      }
    }

    &:nth-child(even) {
      transition: transform $flipTime linear 0s, box-shadow $flipTime linear 0s,
        opacity 0s ease 0s;

      position: absolute;
      left: 50%;

      transform-origin: top left;

      border-top-left-radius: $sc;
      border-bottom-left-radius: $sc;
      border-top-right-radius: $lc;
      border-bottom-right-radius: $lc;

      border-left: 1px solid #dddcd7;

      transform: rotate3d(0, 1, 0, -1deg);

      background-image: linear-gradient(
        to left,
        #f1f0eb,
        #f1f0eb 95%,
        #e7e6e0 100%
      );

      @at-root .current ~ & {
        z-index: 10;
        opacity: 1;
      }

      @at-root .current + & {
        transform: rotate3d(0, 1, 0, -1deg);
        box-shadow: 3px 1px 3px #0003;
        z-index: 100;
        opacity: 1;
      }

      &.zoom-top {
        z-index: 1000;
        & + .page + .page {
          z-index: -1 !important;
          ~ * {
            display: none;
          }
        }
      }

      &.past {
        transform: rotate3d(0, 1, 0, -90deg);
        transition: transform $flipTime linear 0s,
          box-shadow $flipTime linear 0s, opacity 0s ease $flipTime;
        opacity: 0;
        z-index: 10;
      }
    }
  }

  @media (max-width: $sm-brkpnt) {
    position: absolute;
    &:not(.current) {
      display: none;
    }
    &.current {
      display: block;
    }
  }

  & > .date {
    @extend .header-highlights;
    position: absolute;
    left: $line * 2/3;
    top: $line;
  }
}

.text-container {
  overflow: hidden;
  position: relative;

  margin-top: $offset + 2 * $line;
  height: 17 * $line;

  padding-left: $line * 2/3;
  padding-right: $line * 2/3;
}

.pg-num {
  @extend .header-highlights;
  position: absolute;
  top: $line;
  right: 0;
  left: 0;
  padding-right: $line * 2/3;
  text-align: right;
  border-bottom: 1px solid $top-line;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    border-bottom: 1px solid $top-line;
  }

  &:before {
    content: "p. ";
    top: 2 * $line;
    z-index: 2;
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 $line;

  position: absolute;
  z-index: $max-z;
  bottom: 2/5 * $line;

  @media (min-width: $sm-brkpnt) {
    width: $w * 2;
    left: calc(50% - #{$w});
  }
  @media (max-width: $sm-brkpnt) {
    width: $w;
  }
  > :nth-child(odd) {
    justify-self: flex-start;
  }
  > :nth-child(even) {
    justify-self: end;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "brizelregular", cursive;
    text-decoration: none;
    font-size: 64px;
    line-height: 40px;
    color: #3d50fa;
    transition: opacity 0.05s ease;
    transition-delay: $flipTime;
    &:disabled {
      opacity: 0;
      cursor: default;
      transition-delay: 0;
    }

    $m: 2/3 * $line;
  }
}
