@import "./reset.scss";
@import "./vars.scss";
@import "./fonts.css";
@import "./cover.scss";

body {
  background-color: $canvas_bg;
  min-height: 100vh;

  display: grid;
  place-items: center;
  justify-content: center;

  overflow-y: scroll; // the flipping page sometimes makes scroll bars appear...

  @media (min-width: $sm-brkpnt) {
    perspective: 50cm;
    padding: $marg $marg $marg * 3 $marg;
  }
}

.diary-text {
  font-family: "Patrick Hand", cursive;
  line-height: $line;
  font-size: $fs;
}

.highlights {
  font-family: "Patrick Hand", cursive;

  color: #cb0072;
  font-size: $fs;
  display: block;
  mix-blend-mode: multiply;
}

.mood-summary {
  @extend .highlights;
  color: $default-pencil;
  text-indent: 0 !important;
  margin-top: $line;
}

p + .highlights {
  margin-top: $line;
}

h2 {
  @extend .highlights;
}

.header-highlights {
  @extend .highlights;
  user-select: none;
  color: $default-pencil;
}

.diary {
  position: relative;
  @media (min-width: $sm-brkpnt) {
    height: $h + $vert-pad * 2;
    width: 2 * $w + $horiz-pad * 2;
  }
  @media (max-width: $sm-brkpnt) {
  }
}

.closed.diary {
  .pages-container,
  .navigation,
  .staples,
  &:before,
  &:after {
    display: none;
    opacity: 0;
  }
}

@media (max-width: $sm-brkpnt) {
  .opening.diary,
  .closing.diary {
    .pages-container,
    .navigation,
    .staples,
    &:before,
    &:after {
      display: none;
      opacity: 0;
    }
  }
}

@media (min-width: $sm-brkpnt) {
  .opening.diary {
    .cover {
      transform: rotate3d(0, 1, 0, -180deg);
      &:before {
        opacity: 0;
      }
      .about-the-diary {
        opacity: 0;
      }
    }

    &:before {
      display: none;
    }

    .navigation,
    .staples {
      display: none;
    }
  }

  .closing.diary {
    .cover {
      transform: rotate3d(0, 1, 0, 0deg);
      &:before,
      .about-the-diary {
        opacity: 1;
      }
    }

    &:before {
      display: none;
    }
    .navigation,
    .staples {
      display: none;
    }
  }
}

.open.diary {
  @media (min-width: $sm-brkpnt) {
    .cover {
      transform: rotate3d(0, 1, 0, -180deg);
      z-index: -1;
      .about-the-diary,
      &:before {
        opacity: 0;
      }
    }
  }
  @media (max-width: $sm-brkpnt) {
    .cover {
      display: none;
    }
  }
}

.diary {
  @media (min-width: $sm-brkpnt) {
    perspective: 50cm;
  }
  transform: rotate3d(1, 0, 0, 8deg);

  @media (min-width: $sm-brkpnt) {
    padding: ($vert-pad * 2/3) ($horiz-pad) ($vert-pad * 4/3);

    &:before,
    &:after {
      content: "";

      position: absolute;
      top: 0;
      z-index: 0;

      height: $h + $vert-pad * 2;
      width: $w + $horiz-pad;
    }

    &:before {
      left: 0;
      @include left-page-radiuses;
    }

    &:after {
      right: 0;
      @include right-page-radiuses;
    }
  }

  @media (max-width: $sm-brkpnt) {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;

      height: $h + $vert-pad * 2;
      width: $w + $horiz-pad * 2;

      top: -$vert-pad * 2/3;
      left: -$horiz-pad;
    }
  }

  $aux-w: $w + 2 * $marg;

  @media (max-width: $aux-w) {
    transform: scale(0.9);
  }
  @media (max-width: $aux-w*0.9) {
    transform: scale(0.9 * 0.9);
  }
  @media (max-width: $aux-w*0.8) {
    transform: scale(0.9 * 0.8);
  }
  @media (max-width: $aux-w*0.7) {
    transform: scale(0.9 * 0.7);
  }
  @media (max-width: $aux-w*0.6) {
    transform: scale(0.9 * 0.6);
  }
  @media (max-width: $aux-w*0.5) {
    transform: scale(0.9 * 0.5);
  }
}

.pages-container {
  z-index: 5;
  @media (min-width: $sm-brkpnt) {
    width: 2 * $w;
    left: $horiz-pad;
    top: $vert-pad;
    position: absolute;
  }
  @media (max-width: $sm-brkpnt) {
    width: $w;
    height: $h;
    position: relative;
  }
}

.staples {
  @media (max-width: $sm-brkpnt) {
    display: none;
  }
  position: absolute;
  z-index: $max-z;
  left: calc(50% - 1px);
  top: 0;
  bottom: 0;
  li {
    position: absolute;
    height: 3/2 * $line;
    width: 2px;
    mix-blend-mode: multiply;
    background: transparentize(slategray, 0.75);
    &:nth-child(1) {
      top: 15%;
    }
    &:nth-child(2) {
      top: calc(50% - 3 / 4 *#{$line});
    }
    &:nth-child(3) {
      bottom: 15%;
    }
  }
}

$offset: 7px;

.page {
  height: $h;
  width: $w;

  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $paper-color;

  color: $default-pencil;

  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 2 * $line;
    bottom: 0;

    background-image: repeating-linear-gradient(
      0deg,
      $main-line,
      transparent 1px,
      transparent $line
    );
  }

  &:first-child {
    display: none;
  }

  &.summary {
    p + p {
      text-indent: 0;
      margin-top: $line;
    }

    .text-container {
      @extend .typewriter;
      position: relative;
      top: 3px;
      &:after {
        content: "";
        position: absolute;
        left: $line * 2/3;
        bottom: $line * 1/2;
        width: $line * 3/2;
        height: $line * 3/2;
        background-image: url(../img/stamp-onhb.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  p + p {
    text-indent: $line * 2/3;
  }

  @media (min-width: $sm-brkpnt) {
    transform-style: preserve-3d;

    box-shadow: 0 0 0 #0000;
    @at-root .current + .page + .page + .page ~ & {
      z-index: 5;
    }

    &:nth-child(odd) {
      transition: transform $flipTime linear 0s, box-shadow $flipTime linear 0s,
        opacity 0s ease 0s;

      position: absolute;
      right: 50%;

      transform-origin: top right;

      border-top-left-radius: $lc;
      border-bottom-left-radius: $lc;
      border-top-right-radius: $sc;
      border-bottom-right-radius: $sc;

      border-right: 1px solid #dddcd7;

      transform: rotate3d(0, 1, 0, 3deg);

      background-image: linear-gradient(
        to right,
        #f1f0eb,
        #f1f0eb 70%,
        #dbdad1 100%
      );

      &:not(.past):not(.current) {
        // future page
        transform: rotate3d(0, 1, 0, 90deg);
        transition: transform $flipTime linear 0s,
          box-shadow $flipTime linear 0s, opacity 0s ease $flipTime;
        opacity: 0;
        z-index: 1000;
      }
      &.current {
        transform: rotate3d(0, 1, 0, 3deg);
        box-shadow: -3px 1px 3px #0003;
        z-index: 100;
        opacity: 1;
      }
      &.past {
        transform: rotate3d(0, 1, 0, 3deg);
        z-index: 10;
        opacity: 1;
      }
    }

    &:nth-child(even) {
      transition: transform $flipTime linear 0s, box-shadow $flipTime linear 0s,
        opacity 0s ease 0s;

      position: absolute;
      left: 50%;

      transform-origin: top left;

      border-top-left-radius: $sc;
      border-bottom-left-radius: $sc;
      border-top-right-radius: $lc;
      border-bottom-right-radius: $lc;

      border-left: 1px solid #dddcd7;

      transform: rotate3d(0, 1, 0, -1deg);

      background-image: linear-gradient(
        to left,
        #f1f0eb,
        #f1f0eb 95%,
        #e7e6e0 100%
      );

      @at-root .current ~ & {
        z-index: 10;
        opacity: 1;
      }

      @at-root .current + & {
        transform: rotate3d(0, 1, 0, -1deg);
        box-shadow: 3px 1px 3px #0003;
        z-index: 100;
        opacity: 1;
      }

      &.zoom-top {
        z-index: 1000;
        & + .page + .page {
          z-index: -1 !important;
          ~ * {
            display: none;
          }
        }
      }

      &.past {
        transform: rotate3d(0, 1, 0, -90deg);
        transition: transform $flipTime linear 0s,
          box-shadow $flipTime linear 0s, opacity 0s ease $flipTime;
        opacity: 0;
        z-index: 10;
      }
    }
  }

  @media (max-width: $sm-brkpnt) {
    position: absolute;
    &:not(.current) {
      display: none;
    }
    &.current {
      display: block;
    }
  }

  & > .date {
    @extend .header-highlights;
    position: absolute;
    left: $line * 2/3;
    top: $line * 1.1;
  }
}

@media (min-width: $sm-brkpnt) {
  .page:nth-child(even) .date {
    display: none;
  }
}

.text-container {
  overflow: hidden;
  position: relative;

  margin-top: $offset + 2 * $line;
  height: 17 * $line;
  width: $w;

  padding-left: $line * 2/3;
  padding-right: $line * 2/3;

  @extend .diary-text;
}

.pg-num {
  @extend .header-highlights;
  position: absolute;
  top: $line * 1.1;
  line-height: $line * 0.9;
  right: 0;
  left: 0;
  padding-right: $line * 2/3;
  text-align: right;
  border-bottom: 1px solid var(--divider-line-color);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    border-bottom: 1px solid var(--divider-line-color);
  }

  &:before {
    content: "p. ";
    top: 2 * $line;
    z-index: 2;
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 $line * 1/2;

  position: absolute;
  z-index: $max-z;
  bottom: 3/4 * $line;

  @media (min-width: $sm-brkpnt) {
    width: $w * 2;
    left: calc(50% - #{$w});
  }
  @media (max-width: $sm-brkpnt) {
    width: $w;
  }
  > :nth-child(odd) {
    justify-self: flex-start;
  }
  > :nth-child(even) {
    justify-self: end;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Patrick Hand SC", cursive;
    text-decoration: none;
    font-size: $fs * 3;
    line-height: $line;
    padding: $line/4 $line;
    color: #3d50fa;
    color: var(--ink-color);
    transition: opacity 0.05s ease;
    transition-delay: $flipTime;
    &:disabled {
      opacity: 0;
      cursor: default;
      transition-delay: 0;
    }

    $m: 2/3 * $line;
  }
}

#aux-text-container {
  @extend .text-container;
  position: fixed;
  height: auto;
  left: 0;
  top: 0;
  background: red;
}
