@import "./reset.scss";
@import "./fonts.css";

$w: 400px;
$h: 1.57143 * $w;

$marg: $w / 20;

$line: ceil($h / 21);
$fs: $line * 0.777777;

$lc: $w * 0.1226175;
$sc: $w * 0.0322675;

$default-pencil: dimgray;

$sm-brkpnt: $w * 2 + $marg * 2;

body {
  background-color: #ffd21f;
  min-height: 100vh;

  display: grid;
  place-items: center;

  padding: $marg;
}

.highlights {
  font-family: "brizelregular", cursive;

  color: #cb0072;

  font-size: $fs * 0.95;
  display: block;
  mix-blend-mode: multiply;
}

.header-highlights {
  @extend .highlights;
  color: $default-pencil;
}

.diary-container {
  position: relative;
  @media (min-width: $sm-brkpnt) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2 * $line - 4px;
      width: 2 * $w;
      border-top: 1px solid #3d50fa;
      mix-blend-mode: multiply;
      opacity: 0.3333;
    }
    &:before {
      top: 2 * $line;
      z-index: 2;
    }
  }

  @media (max-width: $sm-brkpnt) {
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: $w;
      left: 0;
    }
    &:before {
      // 308/26,11
      height: 0.08477272727 * $w;
      background-image: url(../img/spiral.svg);
      background-size: contain;
      background-repeat: no-repeat;
      top: -0.08477272727 /3 * $w;
      z-index: 9;
    }
    &:after {
      top: 2 * $line;
      border-top: 2px solid #000000;
      mix-blend-mode: multiply;
      opacity: 0.3333;
    }
  }
}

.staples {
  @media (max-width: $sm-brkpnt) {
    display: none;
  }
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  bottom: 0;
  li {
    position: absolute;
    height: 3/2 * $line;
    width: 2px;
    mix-blend-mode: multiply;
    background: slategray;
    &:nth-child(1) {
      top: 15%;
    }
    &:nth-child(2) {
      top: calc(50% - 3 / 4 *#{$line});
    }
    &:nth-child(3) {
      bottom: 15%;
    }
  }
}

$offset: 7px;

.page {
  height: $h;
  width: $w;

  overflow-y: hidden;
  background-color: #f1f0eb;

  color: $default-pencil;

  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 2 * $line;
    bottom: 0;

    background-image: repeating-linear-gradient(
      0deg,
      #d6d3cc,
      transparent 1px,
      transparent $line
    );
  }

  font-family: "gunny_rewrittenregular", cursive;
  line-height: $line;
  font-size: $fs;

  @media (min-width: $sm-brkpnt) {
    &:nth-child(odd) {
      border-top-left-radius: $lc;
      border-bottom-left-radius: $lc;
      border-top-right-radius: $sc;
      border-bottom-right-radius: $sc;

      border-right: 1px solid #dddcd7;
      box-shadow: -4px 0 0 #cb0072, 0 -2px 0 #cb0072, 0 4px 0 #cb0072,
        0px 6px 4px #a88d1e;
    }

    &:nth-child(even) {
      border-top-left-radius: $sc;
      border-bottom-left-radius: $sc;
      border-top-right-radius: $lc;
      border-bottom-right-radius: $lc;

      border-left: 1px solid #dddcd7;
      box-shadow: 4px 0 0 #cb0072, 0 -2px 0 #cb0072, 0 4px 0 #cb0072,
        0px 6px 4px #a88d1e;
    }
  }

  @media (max-width: $sm-brkpnt) {
    &:nth-child(odd) {
      box-shadow: 0 -1px 0 #cb0072, 1px -1px 0 #cb0072, -1px -1px 0 #cb0072,
        2px 2px 0 #cb0072, -2px 2px 0 #cb0072, 0 2px 0 #cb0072,
        0px 2px 10px #a88d1e;
    }
    &:nth-child(even) {
      display: none;
    }
  }

  & > .date {
    @extend .header-highlights;
    position: absolute;
    left: $line * 2/3;
    top: $line;
  }
}

.text-container {
  overflow: hidden;
  position: relative;

  margin-top: $offset + 2 * $line;
  height: 17 * $line;

  padding-left: $line * 2/3;
  padding-right: $line * 2/3;
}

.pg-num {
  @extend .header-highlights;
  position: absolute;
  top: $line;
  right: $line * 2/3;
  &:before {
    content: "p. ";
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 $line * 2 * 2/3;

  position: absolute;
  bottom: 1/3 * $line;

  @media (min-width: $sm-brkpnt) {
    width: $w * 2;
  }
  @media (max-width: $sm-brkpnt) {
    width: $w;
  }
  > :nth-child(odd) {
    justify-self: flex-start;
  }
  > :nth-child(even) {
    justify-self: end;
  }

  a {
    font-family: "brizelregular", cursive;
    text-decoration: none;
    font-size: 64px;
    line-height: 40px;
    color: #3d50fa;

    transition: transform 2s ease;
    &:hover {
      transition: transform 0.75s ease;
    }

    $m: 2/3 * $line;

    &:nth-child(odd):hover {
      transform: translateX(-$m);
    }
    &:nth-child(even):hover {
      transform: translateX($m);
    }
  }
}
