$w: 400px;
$h: 1.57143 * $w;

$flipTime: 250ms;

$marg: $w / 20;

$line: ceil($h / 21);
$fs: $line * 0.777777;

// $lc: $w * 0.1226175;
$lc: $w * 0.1;
// $sc: $w * 0.0322675;
$sc: $w * 0.01;

$max-z: 999;

$default-pencil: dimgray;
$canvas_bg: #5e5d5d;
$paper-color: #f1f0eb;

$main-line: #d6d3cc;
$top-line: rgba(61, 80, 250, 0.231);

$sm-brkpnt: $w * 2 + $marg * 2;

$default-cover-color: #cb0072;

@mixin diary-shadow($x: 0px) {
  box-shadow: $x 2px 5px darken($canvas_bg, 10%);
}

$vert-pad: 5px;
$horiz-pad: 10px;

$radius-adjust: 1.05;
@mixin left-page-radiuses {
  border-top-left-radius: $lc * $radius-adjust;
  border-bottom-left-radius: $lc * $radius-adjust;
  border-top-right-radius: $sc * $radius-adjust;
  border-bottom-right-radius: $sc * $radius-adjust;
}

@mixin right-page-radiuses {
  border-top-left-radius: $sc * $radius-adjust;
  border-bottom-left-radius: $sc * $radius-adjust;
  border-top-right-radius: $lc * $radius-adjust;
  border-bottom-right-radius: $lc * $radius-adjust;
}

.typewriter {
  font-family: "Courier Prime", monospace;
  font-size: $fs * 0.6;
  &,
  p {
    color: mix($default-pencil, maroon);
  }
}

$cover-cols: #efac02, #b94400, #c71717, #99004d, #50474b, #0068fb, #000059,
  #006e00, #005a61, #110f1b, #cadfdc, #411d00, #4f2aa8, #798c79, #ff8faa,
  #00866c;

$line-cols: #efac028f, #b9440050, #c7171750, #99004d50, #50474b50, #0068fb50,
  #00005950, #006e0050, #005a6150, #110f1b40, #b5c9c6, #411d0050, #4f2aa850,
  #798c7950, #ff8faa50, #00866c50;

$ink-cols: #a0bcf1, #7c564a, #c86fa7, #ffc959, #ff8741, #479654, #332653,
  #72b1ec, #f85555, #0082f2, #7a965f, #e0abab, #849aa0, #006099, #ac5569;

$alphabet: A b C D E f G H i J K L m N O P Q R S t U V W x y Z;
$opening-delay: $flipTime * 3;
