$w: 400px;
$h: 1.57143 * $w;

$flipTime: 250ms;

$marg: $w / 20;

$line: ceil($h / 21);
$fs: $line * 0.777777;

// $lc: $w * 0.1226175;
$lc: $w * 0.1;
// $sc: $w * 0.0322675;
$sc: $w * 0.01;

$max-z: 999;

$default-pencil: dimgray;
$canvas_bg: #5e5d5d;
$paper-color: #f1f0eb;

$main-line: #d6d3cc;
$top-line: rgba(61, 80, 250, 0.231);

$sm-brkpnt: $w * 2 + $marg * 2;

$default-cover-color: #cb0072;

@mixin diary-shadow($x: 0px) {
  box-shadow: $x 2px 5px darken($canvas_bg, 10%);
}

$vert-pad: 5px;
$horiz-pad: 10px;

$radius-adjust: 1.05;
@mixin left-page-radiuses {
  border-top-left-radius: $lc * $radius-adjust;
  border-bottom-left-radius: $lc * $radius-adjust;
  border-top-right-radius: $sc * $radius-adjust;
  border-bottom-right-radius: $sc * $radius-adjust;
}

@mixin right-page-radiuses {
  border-top-left-radius: $sc * $radius-adjust;
  border-bottom-left-radius: $sc * $radius-adjust;
  border-top-right-radius: $lc * $radius-adjust;
  border-bottom-right-radius: $lc * $radius-adjust;
}

.typewriter {
  font-family: "Courier Prime", monospace;
  font-size: $fs * 0.6;
  &,
  p {
    color: mix($default-pencil, red);
  }
}
